body{
  font-family: 'Roboto', sans-serif;
}
h3 h5 {
  color: #031b4e;
}
p{
  color: #5b6987;
}
/* TOP_HEADER */

.top_header img {
height: 20px;

}

.top_header ul {
  color: #031b4e;

}

header{
  margin-top: 20px;

}


.col-lg-2, .col-lg-4{


}
.main_nav{

}
.side_nav{
  text-align: right;

}

.side_nav button {
  border: 1px solid #005CFF;
  border-radius: 4px;
  background-color: #fff;
  padding: 2px 8px;
  color: #005CFF;
}


/* MIDDLE_HEADER */

.middle_header{
  background-image: url(../img/bg-hero.svg);
  background-size: cover;
  padding-top: 35px;
  padding-bottom: 35px;
}

.middle_header_left *{
  color: #fff;
}

.middle_header h1 {
  font-size: 58px;
}
.middle_header p {
  font-size: 18px;
}
.middle_header_right_box {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  padding: 25px 0;
}

.middle_header_right_box h3{
  margin-top: 10px;

}

.middle_header_right_box input, .middle_header_right_box button{
  display: block;
  margin: 10px auto;
  width: 80%;

}

button {
  position: relative;
}
button img {
  height: 16px;
  color: #005CFF;
  position: relative;
  right: 30px;
}
#google_btn{
  margin-bottom: 25px;
}
small a {
  text-decoration: underline;
  color: #005CFF;
}

.bottom_header {
  background-color: #f3f5f9;
  padding: 20px 0;

}

.logo_gallery{
  padding: 35px 0;
}

.bottom_header span {
  color: #aaaaaa;
  text-transform: uppercase;
  font-weight: 500;

}

.bottom_header a {
  color: #005CFF;
  font-weight: 500;
}

.middle_main img{
  width: 600px;
}



/* TOP_MAIN */
#first_p{
  padding-bottom: 35px;
}
.task_list{
  border-left: 1px solid #ddd;
  width: auto;
}
.task_list li{
text-decoration: none;
display: block;
padding-bottom: 10px;
}

.top_main img {
  height: 40px;
}

.center{
  text-align: center;
}
/* /TOP_MAIN */

/* MIDDLE_MAIN */

.middle_main {
  background-color: #f3f5f9;
  padding-bottom: 40px;
}

.middle_main h3{
  padding-top: 40px;
  font-size: 26px;
}
.middle_main p{
  padding-top: 15px;
  padding-bottom: 40px;
  font-size: 18px;
}
.middle_main img {
padding-bottom: 20px;
width: 500px;
}
.bullet{
  color: #005CFF;
}
.middle_main_2 {
  background-color: #fff;
}

.services h3 {
  margin-bottom: 30px;
}
.services img{
  margin-bottom: 15px;
}
.services h5 {
  margin: 0;
  padding-bottom: 10px;
}
.services p{
  font-size: 14px;
}
/* MEDIA QUERIES */

/* MEDIUM DEVICES  */
@media screen and (min-width: 992px) and (max-width: 1199px) {


  .top_header img {
  height: 20px;

  }

#hamburger{
  color: #005CFF;

}
button img {
  height: 16px;
  color: #005CFF;
  position: relative;
  right: 15px;
}

.middle_header h1 {
  font-size: 36px;
  padding-bottom: 10px;
}

.middle_header p {
  font-size: 14px;
}



.md_center{
  text-align: center;
}

}

/* /MEDIUM DEVICES  */

/* SMALL DEVICES */
@media screen and (min-width: 768px) and (max-width:991px) {

  .top_header img {
  height: 20px;

  }

  #hamburger{
    color: #005CFF;

  }
  .middle_header_left{
    padding-left: 50px;
  }
  .middle_header h1 {
    font-size: 40px;
  }
  .middle_header p {
    font-size: 14px;
  }
  button img {
    height: 16px;
    color: #005CFF;
    position: relative;
    right: 9px;
  }

  .logo_gallery img{
    height: 50px;
  }

  .middle_main img {
   width: 500px;
  }

}

/* /SMALL DEVICES */

/* X-SMALL DEVICES */
@media screen and (max-width: 767px) {


  #hamburger{
    color: #005CFF;
    position: relative;
    bottom: 20px;

  }

  .middle_header{
    padding: 10px;
  }
  .middle_header h1 {
    font-size: 32px;
  }
  .middle_header p {
    font-size: 14px;
  }
.middle_header_left {
  text-align: center;
  }
.middle_header_right_box {
margin: 10px auto;
width: 80%;
    }
}
.xs_left{
  text-align: left;
}

/* .middle_main img {
 width: 350px;
} */

/* /X-SMALL DEVICES */
