body{
  font-family: 'Roboto', sans-serif;
}

/* TOP_HEADER */

.top_header img {
height: 28px;
margin-top: 4px;
}

header{
  margin-top: 20px;

}


.col-lg-2, .col-lg-4{


}
.main_nav{
  padding-top: 11px;
}
.side_nav{
  text-align: center;

}

.side_nav button {
  border: 1px solid #005CFF;
  border-radius: 4px;
  background-color: #fff;
  padding: 2px 8px;
  color: #005CFF;
}


/* MIDDLE_HEADER */

.middle_header{
  background-image: url(../img/bg-hero.svg);
  background-size: cover;
  padding-top: 35px;
  padding-bottom: 60px;
}

.middle_header_left *{
  color: #fff;
}

.middle_header h1 {
  font-size: 58px;
}
.middle_header p {
  font-size: 18px;
}
.middle_header_right_box {
  background-color: #fff;
  width: 55%;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
}

.middle_header_right_box h3{
  margin-top: 10px;

}

#get_started{
  color: #005CFF;
}
.middle_header_right_box input, .middle_header_right_box button{
  display: block;
  margin: 10px auto;
  width: 80%;

}

button {
  position: relative;
}
button img {
  height: 16px;
  color: #005CFF;
  position: relative;
  right: 30px;
}

small a {
  text-decoration: underline;
  color: #005CFF;
}

.bottom_header {
  background-color: #f3f5f9;
  padding: 25px 0 15px;

}

.bottom_header span {
  color: #aaaaaa;
  text-transform: uppercase;
  font-weight: 500;

}

.bottom_header a {
  color: #005CFF;
  font-weight: 500;
}

/* TOP_MAIN */
.top_main{

}

/*
#hamburger{
  color: #005CFF;
  vertical-align: super;
} */



/* MEDIA QUERIES */

/* MEDIUM DEVICES  */
@media screen and (min-width: 992px) and (max-width: 1199px) {


  .top_header img {
  height: 26px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  }

#hamburger{
  color: #005CFF;

}
button img {
  height: 16px;
  color: #005CFF;
  position: relative;
  right: 15px;
}





}

/* /MEDIUM DEVICES  */

/* SMALL DEVICES */

/* /SMALL DEVICES */
